.button {
  width: 340px;
  height: 40px;
  background-color: #FFCE22;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 4px;
  border: none;
}

.button:hover {
  background-color: #FFD84D;
}

.button:active {
  background-color: #FFCE22;
  transform: translateY(0.5px);
}