.divider {
  width: 370px;
  height: 1px;
  box-sizing: border-box;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 9.5px 15px;
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: #CDCDCD;
}