* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  width: 578px;
  height: 794px;
  background-color: #ffffff;
}

.container {
  position: relative;
  top: 85px;
  left: 104px;
  width: 370px;
  height: 326px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0px 8px 15px 0px #1414141F, 0px 0px 4px 0px #1414141A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.button-container {
  padding: 10px 15px;
  margin-top: auto;
}
