@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #1F2128;
  background-color: #FFFFFF;

  line-height: 130%;
  letter-spacing: 0px;
  text-align: center;
}
